# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
pubspec.lock

# Android related
android/
*.keystore
*.jks

# iOS/Xcode related
ios/
macos/
*.xcworkspace/
*.xcuserstate
Pods/

# VS Code / IntelliJ / Android Studio
.vscode/
.idea/
*.iml

# Other
*.log
*.tmp